{% extends "::base.html.twig" %}

{% block styleSheet %}
    <link href="{{asset('css/timeline.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}


    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Posts Feed</h2>
            </div>

            <div class="panel-body">
                <p>Posts body</p>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Posts Feed</h2>
            </div>

            <div class="panel-body">
                <p>Posts body</p>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>
{% endblock %}